<br>
<div [class.center]="searchUp==false">
  <!-- autocomplete changes -->
  
  <!-- end -->
  <div class="input-group mb-3" class="f-control">

    <!-- workplace-->
    <!-- <input type="text" #symptomInput class="form-control" [(placeholder)]="placeholder" aria-label="inputSymphthom" aria-describedby="basic-addon2"> -->
    <angular2-multiselect id="inputList" [data]="dropdownList" #symptomInput [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)">
</angular2-multiselect>
    <!-- end -->
    <div class="input-group-append">
        
      </div>
    </div>
    <small id="Disclaimer" class="form-text text-muted">
      <span id="disclaimerSpan"></span>
    </small>
    <br>
    <button class="btn btn-prime backgroundcolorsubbutton b-control" type="button" (click)="functionsWrapper()"><span id="search"></span></button>
    
    <br>
</div>
<ul *ngIf="symptoms" >
  <div  *ngFor="let symptomDF of symptoms">
    <div class="diseases">
      <div class="diseaseName"> 
        <h2 class="diseaseNameT">{{ symptomDF.disease_name }}</h2>
        <small class="diseaseNamePro"><span id="akaSpan">Alias: </span>{{ symptomDF.disease_name_professional }}</small>
      </div>
      <p><small class="diseaseDescription">{{ symptomDF.description }}</small></p>
      <span id="diseaseSymptomsSpan" class="diseaseSymptomsT">Weitere Symptome von "{{ symptomDF.disease_name }}": </span>
      <div class="diseaseSymptoms" *ngFor="let moreSymptoms of symptomDF.symptoms">
        <div class="diseaseSymptom">{{ moreSymptoms }}</div>
      </div>
    </div>
    <br>
  </div>
</ul>

