$backgroundcol: rgba(204, 204, 204, 0.226);

.f-control{
    width: 100%;
    position: sticky;
    z-index: 2;
}

.b-control{
    width: 25vw;
    position: sticky;
    left: 40vw;
}

@media (max-width: 768px){

}

.active{
    margin-top: -10%;
}

.backgroundcolorsubbutton{
    background-color: #51dac5;
    color: white;

}

.backgroundcolorsubbutton:hover{
    background-color: #48bead;
    border-color: #4de2cc1f;;
}

.diseases{
    background-color: $backgroundcol;
    width: 90%;
    border-radius: 5px;
    border:1px solid #4acfbb00;
    padding: 6px;
}
.diseases:hover{
    border:1px solid #4acfbb80;
    
}

.diseaseName{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border:1px solid #4acfbb00;
    background-color: #51dac5;
    color: white;
    padding-bottom: -10px;
    margin: -6px;

}

.diseaseNameT{
    padding: 6px;
}

.diseaseNamePro{
    position: relative;
    top: -15px;
    padding: 6px;
}

.diseaseDescriptionT{
    position: relative;
    top: 7px;
    font-size: large;
}

.diseaseDescription{
    position: relative;
    top: 5px;

}


.diseaseSymptom{
    font-size: smaller;
}
