<br>
<div class="pics">
    <p><img src='../../assets/Tobias.png' alt="Tobias" class="pic1"> </p>
    <p><img src="../../assets/Arthur.png" alt="arthur" class="pic2"></p>
    <p><img src="../../assets/Dennis.png" alt="Dennis" class="pic3"></p>
    <div class="text">
        Wir sind Tobias, Arthur und Dennis und mit dem DiseaseFinder wollen wir es jedem ermöglichen sich ein erstes Bild über seine 
        eigene Gesundheit zu bilden. Über die Zeit ist uns das Projekt ans Herz gewachsen und wir würden uns freuen, wenn Sie das Projekt schon durch das Nutzen unterstützen. 
        Wir freuen uns über jedes Feedback. <br> Bleiben Sie gesund.<br> - Tobias, Arthur und Dennis
    </div>
</div>
<br>