<br>
<div class="about">
    SNB Communications GbR<br>
    Stengelhofstraße 4A<br>
    68219 Mannheim<br>
    E-Mail: <a href="mailto:info@diseasefinder.org">info@diseasefinder.org</a>
</div>
<br>
<div class="aboutdis">
    <small>Keine Abmahnung ohne Kontakt !!
        Sollte der Inhalt fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen, informieren Sie mich ohne Kostennote. Ich garantiere, dass die zu Recht beanstandeten Passagen unverzüglich entfernt werden, ohne dass von Ihrer Seite die Einschaltung eines Rechtsbeistandes erforderlich ist. Dennoch von Ihnen ohne vorherige Kontaktaufnahme ausgelöste Kosten werden im Sinne der Schadensminderungspflicht zurückgewiesen und gegebenenfalls wird Gegenklage wegen Verletzung vorgenannter Bestimmungen eingereicht.</small>
</div>